body {
  margin: 0;
  padding: 0;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial,sans-serif;
  background-color: #fefced;
  color: #444;
}

header {
  background-color: #000000;
  height: 50px;
  width: 100%;
  opacity: .9;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  color: #000000;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit;
  border: none;
}

.blog-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.blog-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.blog-content a:hover {
  background-color: black;
}

.dropdown:hover .blog-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.experience {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.projects {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.resume {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.dropbtn {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.menu {
  float: none;
  margin-top: auto;
}
.menu li {
  display: inline;
  margin: 0 3% 0 3%;
}

.menu li + li {
  margin: 0 3% 0 3%;
}

.menu li a {
  color: #fefced;
  text-decoration: none;
}
