<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Darren Ngatimin</title>
    <meta name="intro" content="darren ngatimin">
  </head>

  <style>
    .content {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h1 {text-align: center;}
    p {text-align: center;}
  </style>

  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="content">
      <h1 style="color:black;">Darren Ngatimin</h1>
      <p>Data Scientist | Software Engineer</p>
    </div>

    {% endblock %}
  </body>
</html>
