<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Darren Ngatimin</title>
    <meta name="description" content="more about myself">
  </head>

  <style>
    .content {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h2 {text-align: center;}
    p {text-align: center;}
  </style>

  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="content">
      <h2>temporarily under construction</h2>
    </div>

    {% endblock %}
  </body>
</html>
